@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body {
  box-sizing: border-box;
  margin: 3% auto;
  background-color: oldlace;
}

header {
  display: flex;
  justify-content: center;
  font-family: 'Bungee Inline', cursive;
  font-size: 5.6em;
}

.werewolf {
  height: 85px;
  margin-left: 30px;
}

header a, footer a {
  text-decoration: none;
  color: rgb(187, 209, 181);

  &:hover {
    text-decoration: none;
    color: rgb(107, 126, 126);
  }
}

footer {
  font-family: 'Bungee', cursive;
  letter-spacing: 2px;
  font-size: 1em;
  position: absolute;
  top: 30px;
  right: 30px;
}

@media (max-width: 1240px) {
  header {
    font-size: 4.75em;
  }
  
  .werewolf {
    height: 72px;
    margin-left: 25px;
  }

  footer {
    font-size: 0.85em;
    top: 28px;
    right: 28px;
  }
}

@media (max-width: 1024px) {
  header {
    font-size: 4em;
  }
  
  .werewolf {
    height: 60px;
    margin-left: 25px;
  }

  footer {
    font-size: 0.85em;
    top: 24px;
    right: 24px;
  }
}

@media (max-width: 900px) {
  header {
    font-size: 3.3em;
  }
  
  .werewolf {
    height: 55px;
    margin-left: 16px;
  }
  
  footer {
    font-size: 0.85em;
    top: 18px;
    right: 18px;
  }
}

@media (max-width: 770px) {
  header {
    font-size: 2.5em;
  }
  
  .werewolf {
    height: 42px;
    margin-left: 10px;
  }
  
  footer {
    font-size: 0.7em;
    top: 15px;
    right: 15px;
  }
}

@media (max-width: 600px) {
  header {
    font-size: 2em;
  }
  
  .werewolf {
    height: 32px;
    margin-left: 10px;
  }
  
  footer {
    font-size: 0.55em;
    top: 15px;
    right: 15px;
  }
}

@media (max-width: 500px) {
  header {
    margin: 5% auto;
    font-size: 2em;
  }
  
  .werewolf {
    height: 32px;
    margin-left: 10px;
  }
  
  footer {
    text-align: center;
    position: static;
    font-size: 0.75em;
    margin: 10% 0 5% 0;
  }
}

@media (max-width: 320px) {
  header {
    margin: 5% auto;
    font-size: 1.65em;
  }
  
  .werewolf {
    height: 26px;
    margin-left: 10px;
  }
  
  footer {
    text-align: center;
    position: static;
    font-size: 0.65em;
    margin: 15% 0 5% 0;
  }
}