@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
  box-sizing: border-box;
  margin: 2%;
  background-color: oldlace;
}

header {
  display: flex;
  justify-content: center;
  font-family: 'Bungee Inline', cursive;
  font-size: 12vh;
  height: 10vh;
}

.werewolf {
  height: 55px;
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: rgb(187, 209, 181);
}

a:hover {
  text-decoration: none;
  color: rgb(107, 126, 126);
}

footer {
  display: flex;
  justify-content: center;
  font-family: 'Bungee', cursive;
  letter-spacing: 1px;
  font-size: 2vh;
  position: absolute;
  bottom: 5vh;
  right: 50vw;
}