@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  display: flex;
  justify-content: center;
}

.movieItem {
  margin: 10%;
  display: flex;
  flex-direction: row;
  width: 50vw;
}

.moviePoster {
  width: 320px;
  border-radius: 5px;
}

.movieDetails {
  margin-left: 7%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 24px;
  width: 400px;
}

.movieTitle {
  font-size: 40px;
  line-height: 43px;
  margin-bottom: 5%;
  font-weight: bold;
}

.movieDate, .movieTime, .movieOverview {
  margin: 15px auto;
}

.movieOverview {
  text-align: justify;
}