@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.form {
  display: flex;
  justify-content: center;
  margin: 10vh auto;
}

.search {
  width: 300px;
  height: 35px;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding-left: 7px;
  border-radius: 5px;
  border: 0.9px solid black;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.button {
  width: 70px;
  height: 39px;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-left: 10px;
  background-color: rgb(187, 209, 181);
  color: black;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    background-color: rgb(107, 126, 126);
    color: white;
    cursor: pointer;

    &:active {
      background-color: rgb(187, 209, 181);
      color: black;
    }
  }
}

.movieItem {
  width: 210px;
  margin: 10px;
  text-align: center;
}

.moviePoster {
  height: 300px;
  border-radius: 5px;
}

.movieLink {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 22px;

  &:hover {
    text-decoration: none;
    opacity: 75%;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}